body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: 0;
    padding: 0;
    margin: 0;
}

div.overall-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: lightgrey;
    height: 100vh;
    width: 100%;
}

.sidebar i {
    margin: 10px;
    padding: 12px;
    border: 10px;
}

.sidebar i:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.song-highlight {
    display: flex;
    height: 100%;
    width: 95.5%;
    background-color: grey;
}

img {
    size: 100%;
    padding: 3rem;
}

.album-title {
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.album-info{
    display: flex;
    flex-direction: column;
}

span.album-title {
    position: relative;
    top: 16%;
}
span.album-artist {
    position: relative;
    top: 16%;
    color: white;
}

span.album-summary {
    position: relative;
    top: 12%;
    color: white;
}

.play-options {
    position: relative;
    left: -2%;
    top: 50%;
}

.play-options span {
    padding: 10px;
    color: white;
}

.play-options span:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.table-breakdown {
    height: 100%;
    /* width: 90vw; */
    /* position: relative; */
    /* left: 20%; */
    /* border-collapse: collapse; */
}

/* .tab-row {
    margin: 12px;
    border: 12px;
    padding: 12px;
}
.tab-row th {
    padding: 12px;
} */